{% extends 'base_aberto.html' %}

{% block content %}

<div class="inner">
      {% if success %}
        <h2>Um e-mail foi enviado com instruções para reset da senha.</h2>
        <div class="well">
        </div>
      {% else %}
        <h2>Informe seu E-mail</h2>
        <div class="well">
          <form class="pure-form pure-form-stacked" method="POST">
              {% csrf_token %}
              <fieldset>
                  {{ form.non_field_errors }}

                  {% for field in form %}
                  <div class="pure-control-group">
                    {{ field.label_tag }}
                    {{ field }}
                    {{ field.errors }}
                  </div>
                  {% endfor %}

                  <div class="pure-controls">
                      <button type="submit" class="pure-button pure-button-primary">Enviar E-mail</button>
                  </div>
              </fieldset>
          </form>
        </div>
      {% endif %}
</div>

{% endblock %}
